({
    "single_file": File (
        path: "audio/background.ogg",
    ),
    "standard_material": StandardMaterial (
        path: "images/tree.png",
    ),
    "texture_atlas_layout": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 99,
        columns: 8,
        rows: 1,
    ),
    "pixel_tree": Image (
        path: "images/tree.png",
        sampler: Nearest
    ),
    "pixel_tree_repeat": Image (
        path: "images/tree.png",
        sampler: Nearest,
        wrap: Repeat
    ),
    "array_texture": Image (
        path: "images/array_texture.png",
        array_texture_layers: 4
    ),
    "folder_untyped": Folder (
        path: "images",
    ),
    "folder_typed": Folder (
        path: "images",
    ),
    "files_untyped": Files (
        paths: ["images/tree.png", "images/player.png"],
    ),
    "files_typed": Files (
        paths: ["images/tree.png", "images/player.png"],
    ),
})
