[package]
name = "bevy_asset_loader"
version = "0.6.0"
authors = ["Niklas Eicker <git@nikl.me>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Bevy plugin for asset loading"
repository = "https://github.com/NiklasEi/bevy_asset_loader"
homepage = "https://github.com/NiklasEi/bevy_asset_loader"
documentation = "https://docs.rs/bevy_asset_loader"
keywords = ["bevy", "gamedev", "asset", "assets"]
categories = ["game-development"]
readme = "../README.md"

[features]
default = ["render"]
render = ["bevy_asset_loader_derive/render"]

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", rev = "c5717b5a9124c7c2f7431c4be07f15243ebd60b5", default-features = false }
bevy_asset_loader_derive = { version = "=0.6.0", path = "../bevy_asset_loader_derive" }

[dev-dependencies]
bevy = {git = "https://github.com/bevyengine/bevy", rev = "c5717b5a9124c7c2f7431c4be07f15243ebd60b5", features = ["vorbis"] }
trybuild = "1.0"

[[example]]
name = "two_collections"
path = "examples/two_collections.rs"

[[example]]
name = "atlas_from_grid"
path = "examples/atlas_from_grid.rs"
required-features = ["render"]

[[example]]
name = "insert_resource"
path = "examples/insert_resource.rs"
