[package]
name = "bevy_asset_loader"
version = "0.11.0"
authors = ["Niklas Eicker <git@nikl.me>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Bevy plugin for asset loading"
repository = "https://github.com/NiklasEi/bevy_asset_loader"
homepage = "https://github.com/NiklasEi/bevy_asset_loader"
documentation = "https://docs.rs/bevy_asset_loader"
keywords = ["bevy", "gamedev", "asset", "assets"]
categories = ["game-development"]
readme = "../README.md"

[features]
2d = ["bevy/bevy_sprite", "bevy_asset_loader_derive/2d"]
# This feature adds support for bevy's StandardMaterial assets
3d = ["bevy/bevy_pbr", "bevy/bevy_render", "bevy_asset_loader_derive/3d"]
dynamic_assets = ["bevy_common_assets", "serde"]
progress_tracking = ["iyes_progress"]
progress_tracking_stageless = ["iyes_progress/iyes_loopless"]
stageless = ["iyes_loopless"]

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", rev = "e0a8087408c9177927e00a538c8581ada74e1831" , default-features = false }
bevy_asset_loader_derive = { version = "=0.11.0", path = "../bevy_asset_loader_derive" }
anyhow = "1"

bevy_common_assets = { git = "https://github.com/NiklasEi/bevy_common_assets", features = ["ron"], rev = "71455dd2682e6877a00508e9d88270ab1ee16a6e", optional = true }
serde = { version = "1", optional = true }
iyes_progress = { git = "https://github.com/NiklasEi/iyes_progress", rev = "c18e8adbb522196c78070f7221cac3f4a719fbaa", optional = true }
iyes_loopless = { git = "https://github.com/NiklasEi/iyes_loopless", rev = "be6146b466a0b52917ac65a42cc82dd659d1a3c8", optional = true }

[dev-dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", rev = "e0a8087408c9177927e00a538c8581ada74e1831", features = ["vorbis"] }
anyhow = "1"
iyes_progress = { git = "https://github.com/NiklasEi/iyes_progress", rev = "c18e8adbb522196c78070f7221cac3f4a719fbaa" }
iyes_loopless = { git = "https://github.com/NiklasEi/iyes_loopless", rev = "be6146b466a0b52917ac65a42cc82dd659d1a3c8" }
bevy_common_assets = { git = "https://github.com/NiklasEi/bevy_common_assets", rev = "71455dd2682e6877a00508e9d88270ab1ee16a6e", features = ["ron"] }
serde = { version = "1" }
trybuild = { version = "1.0" }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "two_collections"
path = "examples/two_collections.rs"

[[example]]
name = "atlas_from_grid"
path = "examples/atlas_from_grid.rs"
required-features = ["2d"]

[[example]]
name = "init_resource"
path = "examples/init_resource.rs"

[[example]]
name = "manual_dynamic_asset"
path = "examples/manual_dynamic_asset.rs"
required-features = ["dynamic_assets"]

[[example]]
name = "dynamic_asset"
path = "examples/dynamic_asset.rs"
required-features = ["2d", "dynamic_assets"]

[[example]]
name = "no_loading_state"
path = "examples/no_loading_state.rs"

[[example]]
name = "standard_material"
path = "examples/standard_material.rs"
required-features = ["3d"]

[[example]]
name = "progress_tracking"
path = "examples/progress_tracking.rs"
required-features = ["progress_tracking", "2d"]

[[example]]
name = "stageless"
path = "examples/stageless.rs"
required-features = ["stageless"]

[[example]]
name = "stageless_manual_dynamic_asset"
path = "examples/stageless_manual_dynamic_asset.rs"
required-features = ["stageless", "dynamic_assets"]

[[example]]
name = "stageless_progress"
path = "examples/stageless_progress.rs"
required-features = [
  "progress_tracking_stageless",
  "stageless",
  "progress_tracking", "2d"
]

[[example]]
name = "stageless_dynamic_asset"
path = "examples/stageless_dynamic_asset.rs"
required-features = ["2d", "dynamic_assets", "stageless"]

[[example]]
name = "full_collection"
path = "examples/full_collection.rs"
required-features = ["2d", "3d"]

[[example]]
name = "full_dynamic_collection"
path = "examples/full_dynamic_collection.rs"
required-features = ["2d", "3d", "dynamic_assets"]

[[example]]
name = "custom_dynamic_assets"
path = "examples/custom_dynamic_assets.rs"
